<nav class="ui pointing menu">
  <%= link_to "Alfred Restaurants", root_path, class: "ui header item" %>

  <% if user_signed_in? %>
    <%= link_to "New Restaurant", new_restaurant_path, class: "item" %>
    <%= link_to "Account", edit_user_registration_path, class: "item" %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
    <%= link_to "Sign In", edit_user_registration_path, class: "item" %>
  <% end %>

  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</nav>